<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farsitel.bazaar.inappupdate">

    <uses-permission android:name="com.farsitel.bazaar.permission.BAZAAR_IN_APP_UPDATE" />
    <application>
        <receiver android:name=".receiver.InAppUpdateReceiver" />

    </application>
</manifest>