<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farsitel.bazaar.inappupdate">

    <uses-permission android:name="com.farsitel.bazaar.permission.BAZAAR_IN_APP_UPDATE" />
    <application>
        <receiver android:name=".receiver.InAppUpdateReceiver">
            <intent-filter>
                <action android:name="com.farsitel.bazaar.updateInfoRes" />
            </intent-filter>
        </receiver>

    </application>
</manifest>